.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.button {
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button:last-child {
  background-color: crimson;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.td2Title {
  border: 2px solid black;
  width: 245px;
}
.tdTitle {
  border: 2px solid black;
}

.divTitle {
  margin-top: 20px;
 
  background-color: black;
  width: 101%;
  height: 2px;
}
.spanTitle {
  padding-top: 21px;
}
.produto{
  width: 110px;
}
.div2Title {
  margin-top: 20px;
  
  background-color: black;
  width: 101%;
  height: 2px;
}
